
<div class="card margin-top-10">
  <div class="card-header">
    <h3>Published posts</h3>
  </div>
  <div class="card-body">

    <p>Published: <%= @published_posts.size%></p>
    <p>Rescheduled: <%= @scheduled_posts.size%></p>
    <p>Next post to be published: <b><%= @next_one %></b><%= " at #{Time.zone.parse(@at.to_s).to_formatted_s(:rfc822) } " if @at%></p>
    <div class="digg_pagination" style="float: right">
      <%= will_paginate @paginated_posts %>
    </div>
    <table id="table-posts" class="table table-md table-bordered table-striped">
      <thead>
        <th>
          Title
        </th>
        <th style="text-align: center" colspan="3">
          Reschedule
        </th>
      </thead>
      <tbody >
        <% @paginated_posts.each do |post| %>
        <tr >
          <td><%= post.title %></td>
          <td><%= button_to 'Reschedule for 5 minutes', {controller: "post", action:"schedule", post_id: post.id, time:5}, class: 'btn btn-warning'%></td>
          <td><%= button_to 'Reschedule for 30 minutes', {controller: "post", action:"schedule", post_id: post.id, time:30}, class: 'btn btn-warning'%></td>
          <td><%= button_to 'Reschedule for one day', {controller: "post", action:"schedule", post_id: post.id, time:1440}, class: 'btn btn-warning'%></td>
        </tr>
        <% end %>
      </tbody>
    </table>



  </div>
</div>
